<launch>

    <arg name="output" default="log"/>


    <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_world_ned"
          args="0 0 0 1.57079632 0 3.14159265 map world_ned"/>


    <!-- * * *  drone_1  * * * -->

    <include file="$(find uav_search)/launch/depth_to_pointcloud.launch">
        <arg name="drone_name" value="drone_1"/>
    </include>

    <node pkg="uav_search"
          type="drone_controller_node"
          name="drone_1_controller_node"
          output="screen">
        <param name="drone_name" value="drone_1"/>
    </node>

    <node pkg="uav_search"
          type="airsim_bridge_node"
          name="drone_1_airsim_bridge_node"
          output="screen">
        <param name="drone_name" value="drone_1"/>
    </node>

    <!-- * * * * * * * * * * * * -->


    <!-- * * *  drone_2  * * * -->

    <include file="$(find uav_search)/launch/depth_to_pointcloud.launch">
        <arg name="drone_name" value="drone_2"/>
    </include>

    <node pkg="uav_search"
          type="airsim_bridge_node"
          name="drone_2_airsim_bridge_node"
          output="screen">
        <param name="drone_name" value="drone_2"/>
    </node>

    <node pkg="uav_search"
          type="drone_controller_node"
          name="drone_2_controller_node"
          output="screen">
        <param name="drone_name" value="drone_2"/>
    </node>

    <!-- * * * * * * * * * * * * -->


    <include file="$(find uav_search)/launch/octomap_server.launch"/>


    <node pkg="uav_search"
          type="coordinator_node"
          name="coordinator_node"
          output="screen">

        <rosparam param="drones">
            - drone_1
            - drone_2
        </rosparam>
    </node>

</launch>
